* {
    margin: 0px;
    padding: 0px;
    background-color: #EAEBE7;
    font-family: 'Miriam Libre', sans-serif;
    color: 333333;
}
.bg{
    width: 100%;
    margin-top: 50px;
    position: absolute;
}
.icon {
    width: 25px;
    height: 25px;
}

.nav-bar {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    
    margin: 20px ;
    list-style: none;
}
.navIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 500px;
    color: #333333;
}
h2 {
    font-size: 3em;
    font-weight: 700;
}
.content h3 {
    color: #10AEDB;
}
.content p {
    margin-top: 30px;
}
.social-net {
    margin-top: 70px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 5px solid black;
    border-radius: 20px;
    width: 250px;
    height: 200px;

    box-shadow: 30px 30px 0px 20px black;
    
}
.icon-social {
    width: 40px;
    height: 40px;
    
    
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;

    font-size: 1.3em;

    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px black;
    cursor: pointer;
    transition: transform 1s;
}
.button:hover {
    border: 2px solid #10AEDB;
    box-shadow: 4px 4px 0px #10AEDB;
    transform: scale(0.98);
}
main {
    display: flex;
}
.about {
    position: relative;
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
}
.abt1 h2 {
    background-color: white;
    color: #10AEDB;
    margin: -200px 0px 0px 270px;
    text-shadow: 2px 2px 0px black;
    -webkit-text-stroke: 2px black;
    width: 2000px;
}
.abt1 p {
    width: 500px;
    background-color: white;
    margin: 50px 0px 0px 180px;
}
.abt2 h2 {
    background-color: white;
    color: #10AEDB;
    margin: -310px 0px 0px 800px;
    text-shadow: 2px 2px 0px black;
    -webkit-text-stroke: 2px black;
}
.abt2 p {
    width: 500px;
    background-color: white;
    margin: 50px 0px 0px 670px;
}
footer {
    position: absolute;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
footer section {
    display: flex;
    flex-direction: column;
}
footer h2 {
    color: #D0D1E1;
    text-shadow: 2px 2px 0px black;
    -webkit-text-stroke: 2px black;
    width: 300px;
    text-align: center;
    margin-bottom: -450px;
}
footer button {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 50px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px black;
    transition: all 0.5s;
}
.w:hover {
    color: green;
    border: 2px solid green;
    box-shadow: 4px 4px 0px green;
}
.f:hover {
    color: #2D7BD8;
    border: 2px solid #2D7BD8;
    box-shadow: 4px 4px 0px #2D7BD8;
}
.i:hover {
    color: #EB274B;
    border: 2px solid #EB274B;
    box-shadow: 4px 4px 0px #EB274B;
}